
body {
    background-color: rgb(35, 35, 35);
    color: white;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    list-style: none;
    width: 30%;
    margin-bottom: 3rem;
}

li img {
    width: 100%;

}

#what{
    background-color: cornflowerblue;
    width: 500px;
    margin: 0px auto;
    padding: 15px;
    border-radius: 15px;
}
#what p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
}



